:root {
    color-scheme: light;
  }

  textarea {
    width: 100%;
    min-height: 50px;
    padding: 8px;
    resize: none; /* Supaya tidak bisa resize manual */
    overflow: hidden; /* Hindari scrollbar */
  }

  html, body {
    background-color: white !important;
    color: black !important;
  }
  
  input, textarea, select {
    background-color: white !important;
    color: black !important;
  }

@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: light;
      background-color: white;
      color: black;
    }
  
    body {
      background-color: white !important;
      color: black !important;
    }
}