:root {
    color-scheme: light;
  }

  html, body {
    background-color: white !important;
    color: black !important;
  }
  
  input, textarea, select {
    background-color: white !important;
    color: black !important;
  }

@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: light;
      background-color: white;
      color: black;
    }
  
    body {
      background-color: white !important;
      color: black !important;
    }
}