* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9DB2BF;
}

.contain-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    color: white;
}

.form {
    padding: 10px;
    width: 35%;
}

.form input {
    width: 99%;
    border: 0px;
    height: 40px;
    background-color: white;
    outline-color: #DDE6ED;
    padding: 5px;
    margin-bottom: 10px;
}

.form button {
    background-color: #27374D;
    color: white;
    border: 0px;
    padding: 10px;
    cursor: pointer;
}

.form button:hover {
    color: #DDE6ED;
}

.regist {
    margin-top: 20px;
    width: 100%;
}

.notice {
    color: white;
    background-color: rgba(255, 0, 0, 0.418);
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
}

.nav {
    width: 100%;
    background-color: #27374D;
    color: white;
    padding: 30px;
    font-size: larger;
    font-weight: 900;
}

